body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

h1 {
    color: #BF6B04;
}

/*removes underline from links*/
a {
    color:#000000;
    text-decoration: none;
  }

a:hover {
    color: red;
}

.vegi-link {
    color: #93A603;
}

.wall-space {
    padding-left: 17px;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-top: 13px;
    bottom: 0px;
}

.scrumptious {
    font-size: 35px;
    margin-top: 0px;
}

.all-food {
    padding-bottom: 0px;
    font-weight:bold;
    font-size: 25px;
    margin-bottom: 0px;
}

.footer-space {
    padding-left: 17px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 13px;
    bottom: 0px;
}

nav {
    background-color: #93A603;
    font-weight: bold;
}

title {
    color: #BF9004;
}

main {
    padding: 16px;
}

footer {
    background-color: #593520;
    color: #ffffff;
    font-size:large;
}

.fit-picture {
    max-width: 100%;
    height: auto;
    width: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

li:nth-child(even) {
    background-color: rgb(206, 206, 206);
}
ol {
    margin-right: 700px;
}

tr:nth-child(even) {
    background-color: rgb(206, 206, 206);
}
